* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1180px;
    margin: auto
}

.white-block {
    margin: 24px auto;
    background: #FFFFFF;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 20px rgba(19, 19, 19, 0.1);
    border-radius: 16px;
}

body header div h2 {
    padding-right: 235px;
    color: #FECE2F;
    margin: 10px;
    display: inline-block;
}

body header div nav {
    margin: 10px;
    display: inline-block;
}

body header div nav a {
    padding-right: 35px;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.dl {
    width: 400px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.dr {
    width: 400px;
    display: inline-block;
    margin: 20px;
}

.di {
    width: 400px;
}

.d1 {
    width: 163px;
}

.d2 {
    width: calc(100% - 380px);
}

.d3 {
    width: 200px;
}

.d1,
.d2,
.d3 {
    display: inline-block;
    min-height: 108px;
    vertical-align: middle;
}

.d3 a {
    text-decoration: none;
    color: black;
    margin: 24px auto;
    background: #FECE2F;
    border: 1px solid #FECE2F;
}